{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}

	<style
		type="text/css">
		/*Imagen de fondo del formulario de la pagina de login*/
		.fondo_formulario_login_page {
			position: relative;
			background: url("{{ asset('img/login_form_back.png') }}") top center;
			width: 100%;
			height: 100%;
			background-size: contain;
			overflow: hidden;
			background-repeat: no-repeat;
		}

		label.login { color: red; }

	</style>
{% endblock %}

{% block body %}

	<div
		class="row h-100" id="login_page">

		{#style="background-color: #eee; "
										    style="text-align:center;"#}
		<div
			class="col-md-4">

			
			<div class="container h-100 fondo_formulario_login_page mt-5">
				<div class="row h-100 justify-content-center align-items-top mt-5">
					<form method="POST" action="{{ path('login') }}" class="form-horizontal mt-4">

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="_target_path" value="/player-army"/>

						<div class="form-group m-3">
							<label class="bmd-label-floating">User Name or Mail</label>
							<input type="text"  name="email" id="inputEmail" class="form-control label" autofocus required autocomplete="off">
						</div>

						<div class="form-group m-3">
							<label class="bmd-label-floating">Password</label>
							<input type="password" class="form-control" name="password" id="password" autofocus required autocomplete="off">

						</div>
				       <div class="mt-5">

						<button type="submit" class="btn btn-primary ">Go!</button>
						<a class="btn btn-info" href="{{ path('user_new') }}">Register</a>
						
						{% if app.user %}
						{#	<div class="form-group">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>#}
						{% endif %}

						<div class="clearfix"></div>
						</div>


					</form>
				</div>


			</div>


			<div class="col-md">{#<img src="{{ asset('img/crow_title_only.png') }}" width="100%"/>#}
			</div>


	</div>
</div>

{% endblock %}
{% block javascripts %}

{# {{ parent() }} #}
<script>
	   {% if error %}
            $.notify({
                       message: 'Loguin error: '+'{{ error.messageKey|trans(error.messageData, 'security') }}'
                     }, {
                        type: 'danger',
                        timer: 3000,
                        placement: {
                                      from: 'top',
                                      align: 'right'
                                   }
                    });
		{% endif %}
		

//  $('#main_body').removeClass('fondo_login_page');
$('#main_body').addClass('fondo_login_page');
</script>

{% endblock %}
