{% extends 'mainmenu.html.twig' %}

{% block title %}
 Map
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	 
{% endblock %}	


{% block main_body %}
 
	{{ parent() }}
  <div class="principal">
    <h1> MAP</h1>
    <div id='mapcontainer' style="height:88%;width:70%"></div>
  </div>


{% endblock main_body %}



{% block javascripts %}

    <script>
      assets = {
             avatar : "{{ asset('img/head.jpg') }}",
             mapatileset:  "{{ asset('maps/map01/terrain_atlas.png') }}",
             mapa:"{{ asset('maps/map01/mapa01.json.tmx') }}" 
      }
    

    </script>

	<script src="{{ asset('librerias/js/phaser.min.js') }}"></script>
    <script src="{{ asset('librerias/js/map/map1.js') }}"></script>
    <script src="{{ asset('librerias/js/map/map.js') }}"></script>
  

{% endblock javascripts%}
