{% extends 'base.html.twig' %}

{% block title %}
	Hello MainPageController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('librerias/css/mainmenu.css') }}">
{% endblock %}	

{% block body %}
	<div class="contenedor">

		<div class="top">
			<div class="contenedor_top">
			
			  <div class="avatar"  style="text-align: center !important; z-index=12;" >
			     <img id="avatar" class="img-circle" src="{{ asset('avatar/avatar.jpg') }}" alt="Avatar" style="width: 76%;"  >			  
			  </div>

			  <div class="avatar_borde" style="text-align: center !important; z-index=12;" >			
				 <img id="avatar" src="{{ asset('img/borde_avatar.png') }}"  style="width: 80%;"   >			    
			  </div>

              {# ----------------- GOLD ---------------------#}
			  <div class="user_gold_icon_area"  title="User Gold">
				<img  class="user_gold_icon" src="{{ asset('img/menu/gold.png') }}" alt="User Gold"  >			
			  </div>

			  <div class="user_gold_area"  title="User Gold">
			    <span id="user_gold">10000</span>
			  </div>

              {# ----------------- User Points ---------------------#}
			  <div class="user_points_icon_area" title="User Points">
				   <img   class="user_points_icon" src="{{ asset('img/menu/user_points.png') }}" alt="User Points">		   
			  </div>

			  <div class="user_points_area" title="User Points">
			    <span id="user_points">10000</span>
			  </div> 
			 
   		      {# ----------------- Kingdom Point Area ---------------------#}
			  <div class="kingdom_point_icon_area" title="Kingdom Points">
				   <img  class="kingdom_point_icon" src="{{ asset('img/menu/kingdom_points.png') }}" alt="Kingdom Points"  >			 
			  </div> 

			  <div class="kingdom_points_area" title="Kingdom Points">
			      <span id="kingdom_point">10000</span>
			  </div> 

			  {# ----------------- Kingdom Gold Area ---------------------#}
			  <div class="kingdom_gold_icon_area" title="Kingdom Gold">
				   <img  class="kingdom_gold_icon" src="{{ asset('img/menu/gold_castle.png') }}" alt="Kingdom Gold"  >			 
			  </div> 

			  <div class="kingdom_gold_area" title="Kingdom Gold">
			      <span id="kingdom_gold">10000</span>
			  </div> 


			   {# ----------------- Kingdom Name ---------------------#}
			  
			
			  
			  	<div class="kingdom_name_area ">		   
				   <span id="kingdom_name" class="letra_breathe_fire kingdom_name">---</span>
			    </div> 
                  <div class="kingdom_name_background">
                      <img  class="kingdom_name_icon" src="{{ asset('img/menu/kingdom_name2.png') }}" alt="Kingdom Name"  >
				</div>
			  
			  {# ----------------- Client Name ---------------------#}
			  <div class="user_name_area">		   
				   <span id="user_name" class="letra_breathe_fire user_name" >---</span>
			  </div> 


			  {# ----------------- Administrator ---------------------#}
			  <div class="admin_area" title="Administrator">		   
				  <img  class="admin_icon" src="{{ asset('img/menu/settings3.png') }}" alt="Admin">  
			  </div> 

			   {# ----------------- User Profile ---------------------#}
			  <div class="user_profile_area" title="User Profile">		   
				  <img  class="user_profile_icon" src="{{ asset('img/menu/user_profile.png') }}" alt="User Profile">  
			  </div> 

			   {# ----------------- message ---------------------#}
			  <div class="message_area" title="Messages">		   
				  <img  class="message_icon" src="{{ asset('img/menu/messages.png') }}" alt="Message">  
			  </div> 

			</div>	
		</div>

	
		<div class="opciones">
			<div class="contenedor_menu">				
					<span class="opcion1 letra_breathe_fire">
						<a class="underline-on-hover" href="{{url('player_army')}}">
							Player Army
						</a>
					</span>

					<span class="opcion2 letra_breathe_fire">
				
						<a class="underline-on-hover" href="{{url('map')}}">
							World Map
						</a>
					</span>

					<span class="opcion3 letra_breathe_fire">
						<a class="underline-on-hover" href="{{url('kingdomcourt')}}">
							Kingdom Court
						</a>
					</span>		
			</div>
		</div>

		{% block main_body %}
		{% endblock main_body%}

		
			
	</div>
	
	

{% endblock body %}



{% block javascripts %}



{% endblock javascripts %}
